*{
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}
body{
    background-color: #181823;
}
header{
    width: 100%;
    height: 95px;
}
header img{
    margin: 30px;
}
.Robin{
    width: 900px;
}
.flex1{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: -50px;
    margin-right: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.buttons button{
    background-color: #20B2AA;
}
.buttons button{
    margin-top: -40px;
}
.buttons button:hover{
    cursor: pointer;
    background-color: #5221E6;
}
.buttons button a{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
    color: #F1F1F2; 
}
.buttons button:nth-child(1){
    width: 132px;
    height: 88px;
}
.buttons button:nth-child(2){
    width: 88px;
    height: 88px;
}
.buttons button:nth-child(3){
    width: 147px;
    height: 88px;
}
.buttons button:nth-child(4){
    width: 109px;
    height: 88px;
}
.experience{
    width: 100%;
    height: 715px;
    background-color: #000000;
    margin-top: 700px;
}
.workexperience{
    margin: 70px;
}
.workexperience p:nth-child(1){
    width: 170px;
    height: 24px;
    color: #8491A0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    text-transform: uppercase;
}
.workexperience p:nth-child(2){
    width: 690px;
    height: 132px;
    color: #FFFFFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.phisolophy{
    width: 100%;
    height: 600px;
}
.google,.facebook,.dribbble{
    width: 416px;
    height: 247px;
}
.google p:nth-child(1) , .facebook p:nth-child(1), .dribbble p:nth-child(1){
    font-size: 117px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8491A0;
}
.google p:nth-child(2), .facebook p:nth-child(2), .dribbble p:nth-child(2){
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFFFFF;
}
.google p:nth-child(3), .facebook p:nth-child(3),.dribbble p:nth-child(3){
    width: 300px;
    height: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #636C78;
}
.google span{
    color: #3CC74E;
}
.facebook span{
    color: #609BFF;
}
.dribbble span{
    color: #E95D90;
}
.flex2{
    display: flex;
    justify-content: space-around;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.philosophyvalues{
    width: 720px;
    height: 600px;
    background-color: #FFF3E4;
    padding-right: 470px;
}
.philosophyimage{
    width: 720px;
    height: 600px;
    background: url('../Img/philosophyimage.svg') no-repeat;
    margin-left: 1px;
}
.flex3{
    display: flex;
    justify-content: flex-end;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.philosophyvalues hr{
    width: 116px;
}
.Ithinkeveryone p:nth-child(1){
    width: 540px;
    height: 66px;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Ithinkeveryone p:nth-child(2){
    width: 780px;
    height: 108px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #5B6876;
    margin-top: 50px;
}
.Ithinkeveryone{
    margin: 150px;
}
.MoreAboutMe{
    margin-left: 150px;
}
.philosophyvalues hr{
    margin-left: 150px;
}
.skill{
    width: 100%;
    height: 950px;
    background-color: #000000;
    margin-top: -150px;
}
.skills{
    width: 416px;
    height: 225px;
    margin: 150px;
}
.skills p:nth-child(1){
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFFFFF;
}
.skills p:nth-child(2){
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.ProductDesign,.VisualDesign,.Photography,.MotionDesign{
    width: 416px;
    height: 176px;
    flex-shrink: 0;
}
.flex4{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-left: 800px;
    margin-top: -190px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.flex5{
    display: flex;
    gap: 2rem;
    margin-left: 800px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.flex4,.flex5{
    position: relative;
    top: 30px;
}
.ProductDesign  p:nth-child(2),.VisualDesign p:nth-child(2),.MotionDesign p:nth-child(2),.Photography p:nth-child(2){
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFFFFF;
}
.ProductDesign  p:nth-child(3),.VisualDesign p:nth-child(3),.MotionDesign p:nth-child(3),.Photography p:nth-child(3){
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.ProductDesign  p:nth-child(3),.Photography p:nth-child(3){
    width: 360px;
    height: 72px;
}
.VisualDesign p:nth-child(3){
    width: 350px;
    height: 72px;
}
.MotionDesign p:nth-child(3){
    width: 340px;
    height: 96px;
}
.cbre,.epiq,.social,.fresh{
    width: 340px;
    height: 140px;
    border: 1px solid #181823;
    flex-shrink: 0;
}
.flex6{
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-top: 230px;
}
.flex6 img{
    margin-left: 70px;
    margin-top: 50px;
}
.projects{
    width: 100%;
    height: 2201px;
    background-color: #000000;
    margin-top: -200px;
}
.MyProjects p:nth-child(1){
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    text-transform: uppercase;
    color: #8491A0;
}
.MyProjects p:nth-child(2){
    width: 572px;
    height: 132px;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFFFFF;
}
.MyProjects{
    margin: 200px;
}
.FirstDesign,.SecondDesign,.ThirdDesign,.FourthDesign{
    width: 636px;
    height: 800px;
    background-color: #181823;
}
.restaurant1 p:nth-child(1){
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #FFFFFF;
}
.restaurant1 p:nth-child(2){
    width: 530px;
    height: 81px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.restaurant1{
    margin:25px;
}
.flex7{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 230px;
}
.flex8{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    gap: 5rem;
    float: right;
    margin-top: -1900px;
    margin-right: 200px;
}
.flex8 button{
    width: 247px;
    height: 75px;
    border: 1px solid #5221E6;
    background-color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
    cursor: pointer;
}
.flex9{
    width: 100%;
    height: 600px;
    display: flex;
}
.intagram,.instimage{
    width: 50%;
    height: 600px;
}
.instimage{
    background: url('../Img/instimage.svg') no-repeat;
    background-size: 100%;
}
.intagram{
    background-color: #FBE4FF;
}
.inst_text p:nth-child(1){
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #181823;
}
.inst_text p:nth-child(2){
    width: 725px;
    height: 108px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #5B6876;
    margin-top: 10px;
}
.inst_text{
    margin-top: 100px;
    margin-left: 100px;
}
.Followme{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #181823;
    margin-left: 100px;
}
.intagram hr{
    width: 125px;
    height: 1px;
    margin-left: 100px;
    margin-top: 10px;
    background: #8491A0;
}
.Dribbble{
    width: 100%;
    height: 1248px;
    background-color: #000000;
    margin-top: -198px;
}
.FollowMeOnDribble{
    margin: 200px;
}
.FollowMeOnDribble p:nth-child(1){
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 300%;
    color: #FFFFFF;
}
.FollowMeOnDribble p:nth-child(2){
    width: 636px;
    height: 54px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.FollowMeOnDribble p:nth-child(3){
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 500%;
    color: #FFFFFF;
}
.FollowMeOnDribble hr{
    width: 171px;
    height: 1px;
    background: #8491A0;
    margin-top: -20px;
}
.Dribbble img{
    margin-left: 200px;
}
.InfoAboutMe{
    width: 100%;
    height: 2722px;
    background: #000000;
    margin-top: -200px;
}
.WhatPeopleSayAboutMe{
    width: 636px;
    height: 278px;
    margin: 200px;
}
.WhatPeopleSayAboutMe p:nth-child(1){
    width: 588px;
    height: 132px;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFFFFF;
}
.WhatPeopleSayAboutMe p:nth-child(2){
    width: 550px;
    height: 54px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.WhatPeopleSayAboutMe p:nth-child(3){
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
}
.WhatPeopleSayAboutMe hr{
    width: 146px;
    height: 1px;
    background: #8491A0;
}
.Richard,.Emily,.Vincert{
    width: 636px;
    height: 700px;
    background: #000000;
    border: 1px solid #5B6876;
    flex-shrink: 0;
}
.flex10{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: flex-end;
    margin-top: -500px;
    margin-right: 50px;
}
.Richard .Robin p:nth-child(1), .Emily .Parker p:nth-child(1), .Vincert .Rudd p:nth-child(1){
    width: 508px;
    height: 108px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}
.Richard .Robin p:nth-child(2), .Emily .Parker p:nth-child(2), .Vincert .Rudd p:nth-child(2){
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #5B6876;
    line-height: 700%;
}
.Richard .Robin p:nth-child(3), .Emily .Parker p:nth-child(3), .Vincert .Rudd p:nth-child(3){
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #5B6876;
    margin-top: -30px;
}
.Richard .Robin,.Parker,.Rudd{
    margin:50px;
}
.photoes{
    width: 100%;
    height: 959px;
    background: #000000;
    margin-top: -100px;
}
.photoes .photography p:nth-child(1){
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFFFFF;
}
.photoes .photography p:nth-child(2){
    width: 500px;
    height: 54px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0;
}
.photography{
    margin:100px;
    margin-left: 200px;
}
.ITALY,.AUSTRALIA,.INDIA,.BRAZIL{
    height: 51px;
    border: 1px solid #5221E6;
    flex-shrink: 0;
}
.ITALY:hover,.AUSTRALIA:hover,.INDIA:hover,.BRAZIL:hover{
    cursor: pointer;
    background: #5221E6;
}
.ITALY{
    width: 88px;
}
.AUSTRALIA{
    width: 136px;
}
.INDIA{
    width: 92px;
}
.BRAZIL{
    width: 102px;
}
.ITALY a,.AUSTRALIA a,.INDIA a,.BRAZIL a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    top: 10px;
    left: 20px;
}
.flex11{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 1020px;
}
.ITALY_Image,.AUSTRALIA_Image,.INDIA_Image,.BRAZIL_Image{
    width: 306px;
    height: 420px;
    flex-shrink: 0;
}
.ITALY_Image{
    background: url('../Img/italy-image.svg') no-repeat;
}
.AUSTRALIA_Image{
    background: url('../Img/australia.svg') no-repeat;
}
.INDIA_Image{
    background: url('../Img/india.svg') no-repeat;
}
.BRAZIL_Image{
    background: url('../Img/brazil.svg') no-repeat;
}
.flex12{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 220px;
    margin-top: 50px;
}
.LetsStart{
    width: 100%;
    height: 900px;
    background: #000000;
    margin-top: -300px;
}
.LetsGetStarted p:nth-child(1){
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    color: #FFFFFF;
}
.LetsGetStarted p:nth-child(2){
    width: 526px;
    height: 54px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    color: #8491A0;
}
.LetsGetStarted{
    margin: 300px;
}
form p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
}
form input:nth-child(2), form input:nth-child(4){
    width: 526px;
    height: 50px;
    background: #181823;
    border: 0;
}
form p:nth-child(3){
    margin-top: 20px;
}
form p:nth-child(5){
    margin-top: 50px;
}
form{
    float: right;
    margin-top: -500px;
    margin-right: 100px;
    margin-top: -350px;
}
form textarea{
    width: 526px;
    height: 100px;
    background: #181823;
    border: 0;
}
.send{
    width: 526px;
    height: 75px;
    background: #5221E6;
    margin-top: 50px;
    border: 0;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
.send:hover{
    cursor: pointer;
    animation-name: changeColors;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
footer{
    width: 100%;
    height: 422px;
    background: #181823;
    margin-top: 10800px;
}
.flex13{
    display: flex;
    gap: 1rem;
    margin-left: 50px;
}
.Footer_Logo{
    margin: 50px;
}
.NotCopyright{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #8491A0; 
    margin-top: 100px;
    margin-left: 50px;
}
footer .links1{
    float: right;
    margin-right: 400px;
    list-style: none;
    margin-top: -200px;
    line-height: 300%;
}
footer .links1 a, footer .links2 a{
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
footer .links2{
    float: right;
    list-style: none;
    line-height: 300%;
    margin-top: -200px;
    margin-right: 200px;
}
aside{
    width: 750px;
    height: 1350px;
    background: #000000;
    margin-top: -11700px;
}
aside img{
    margin-top: 200px;
}
main{
    position: relative;
    top: 400px;
}
aside p:nth-child(5){
    width: 738px;
    height: 282px;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFFFFF;
    margin-left: 680px;
    margin-top: -500px;
}
aside p:nth-child(6){
    width: 680px;
    height: 54px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 680px;
    margin-top: 50px;
}
aside span{
    color: #888B8B;
}
.adapting_flex_6_1,.adapting_flex_6_2,.adapting_flex_6_3{
    display: none;
}
.Richard img:nth-child(2){
    display: none;
}
.Emily img:nth-child(2){
    display: none;
}
.Vincert img:nth-child(2){
    display: none;
}
.Adapting_flex12_1,.Adapting_flex12_2{
    display: none;
}
.adapting_menu,.Adapting-mobile-robin,.Adapting_Robin{
    display: none;
}
.Adapting_Flex11_1,.Adapting_Flex11_2{
    display: none;
}
.Dribbble .Adapting_Mobile_dribble{
    display: none;
}
.adapting_menu{
    display: none;
}
.adapting_flex_links{
    display: none;
}
.LetsStart form input:focus,.LetsStart textarea:focus{
    color: #ffffff;
    font-size: 30px;
}
@media screen and (min-width:700px) and (max-width:999px){
    aside{
        margin-top: -14205px;
        margin-left: 1px;
        height: 1250px;
    }
   aside img:nth-child(1),.adapting_menu,.Adapting-mobile-robin{
    display: none;
   }
   aside img:nth-child(2){
    display: block;
   }
   aside p:nth-child(5){
        position: relative;
        width: 408px;
        height: 335px;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #FFFFFF;
        margin-top: -130px;
        margin-left: 240px;
        top: -300px;
   }
   aside p:nth-child(6){
        position: relative;
        width: 408px;
        height: 108px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #FFFFFF;
        margin-left: 240px;
        top: -340px;
   }
   .Robin{
     position: relative;
     width: 700px;
     top: 200px;
   }
   .flex2 .google{
        width: 213px;
        height: 369px;
   }
   .flex2 ,.facebook{
        width: 214px;
        height: 369px;
   }
   .flex2 .dribbble{
        width: 212px;
        height: 393px;
   }
   .flex2 .google p:nth-child(3){
        width: 197px;
        height: 96px;
   }
   .flex2 .google p:nth-child(2),.flex2 .facebook p:nth-child(2),.flex2 .dribbble p:nth-child(2){
        width: 197px;
        height: 108px;
   }
   .flex2 .google p:nth-child(3),.flex2 .facebook p:nth-child(3){
        width: 197px;
        height: 96px;
   }
   .flex2 .dribbble p:nth-child(3){
        width: 197px;
        height: 120px;
   }
   .flex2{
        margin-left: 250px;
   }
   .philosophyvalues{
        width: 50px;
        height: 600px;
   }
   .Ithinkeveryone p:nth-child(1){
        width: 304px;
        height: 132px;
   }
   .Ithinkeveryone p:nth-child(2){
        width: 304px;
        height: 189px;
   }
   .MoreAboutMe{
        width: 116px;
        height: 24px;
        margin-top: -150px;
   }
   .skills{
        width: 688px;
        height: 171px;
        margin-left: 10px;
        margin-top: -10px;
   }
   .skill{
        height: 700px;
   }
   .flex6{
        display: none;
   }
   .adapting_flex_6_1,.adapting_flex_6_2,.adapting_flex_6_3{
        position: relative;
        top: 400px;
        display: flex;
   }
   .skill {
        height: 1500px;
   }
   .flex4 .ProductDesign, .flex4 .VisualDesign, .flex5 .Photography{
        width: 332px;
        height: 200px;
   }
   .flex5 .Photography{
        margin-left: 60px;
   }
   .flex5 .MotionDesign{
        width: 273px;
        height: 224px;
   }
   .flex4 .ProductDesign p:nth-child(3),.flex4 .VisualDesign p:nth-child(3), .flex5 .Photography p:nth-child(3){
        width: 284px;
        height: 96px;
   }
   .flex5 .MotionDesign p:nth-child(3){
        width: 284px;
        height: 120px;
   }
   .flex4,.flex5{
        position: relative;
        top: 300px;
        right: 800px;
        gap: 0;
   }
   .projects{
        height: 4000px;
   }
   .flex7{
        position: relative;
        right: 200px;
   }
   .flex8{
        position: relative;
        top: 2000px;
        left: 180px;
   }
   .MyProjects{
        margin-left: 20px;
   }
   .Dribbble img:nth-child(2){
       width: 688px;
       height: 480px;
       margin-left: 5px;
    }
    .FollowMeOnDribble{
        margin-left: 20px;
    }
    .Richard img:nth-child(1),.Emily img:nth-child(1),.Vincert img:nth-child(1){
        display: none;
    }
    .Richard img:nth-child(2),.Emily img:nth-child(2),.Vincert img:nth-child(2){
        display: block;
    }
    .Richard{
        width: 333px;
        height: 810px;
    }
    .Emily{
        width: 333px;
        height: 700px;
    }
    .Richard .Robin p:nth-child(1){
        width: 269px;
        height: 324px;
    }
    .Richard .Robin{
        margin-top: 10px;
    }
    .Emily .Parker p:nth-child(1){
        width: 269px;
        height: 174px;
    }
    .Vincert{
        width: 333px;
        height: 800px;
    }
    .Vincert .Rudd p:nth-child(1){
        width: 269px;
        height: 261px;
    }
    .InfoAboutMe{
        height: 2800px;
    }
    .flex10{
        position: relative;
        top: -150px;
        left: 50px;
    }
    .WhatPeopleSayAboutMe{
        width: 333px;
        height: 371px;
        margin-left: 20px;
    }
    .WhatPeopleSayAboutMe p:nth-child(1){
        width: 346px;
        height: 198px;
    }
    .WhatPeopleSayAboutMe p:nth-child(2){
        width: 320px;
        height: 81px;
    }
    .flex8 button{
        display: none;
    }
    .photoes{
        height: 1300px;
    }
    .flex12{
        display: none;
    }
    .Adapting_flex12_1,.Adapting_flex12_2{
        display: flex;
        gap: 1rem;
        margin-left: 20px;
        margin-top: 20px;
    }
    .flex11{
        margin-left: 260px;
    }
    .photoes .photography p:nth-child(2){
        width: 630px;
        height: 54px;
    }
    .photoes .photography{
        margin-left: 20px;
    }
    .LetsStart{
        height: 700px;
    }
    .LetsStart .LetsGetStarted p:nth-child(1){
        width: 332px;
        height: 132px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .LetsStart .LetsGetStarted p:nth-child(2){
        width: 330px;
        height: 81px;
    }
    .LetsStart form input:nth-child(2),.LetsStart form input:nth-child(4){
        width: 332px;
        height: 50px;
    }
    .LetsStart textarea{
        width: 332px;
        height: 100px;
    }
    .LetsStart form input[type='submit']{
        width: 332px;
        height: 75px;
        border: 5px solid silver;
    }
    .LetsStart .LetsGetStarted{
        margin-top: 200px;
        margin-left: 10px;
    }
    .LetsStart form{
        margin-top: -530px;
        margin-right: 5px;
    }
    .experience .workexperience p:nth-child(2){
        width: 600px;
        height: 132px;
    }
    .NotCopyright{
        position: relative;
        width: 320px;
        height: 48px;
        top:90px;
    }
    .philosophyimage{
        width: 384px;
        height: 600px;
        flex-shrink: 0;
        background: url('../Img/adapting-phisolophy.svg') no-repeat;
    }
    .philosophyvalues .Ithinkeveryone p:nth-child(1),.philosophyvalues .Ithinkeveryone p:nth-child(2){
        margin-left: 60px;
    }
    .phisolophy .MoreAboutMe,.phisolophy hr{
        position: relative;
        left: 60px;
    }
    .intagram .inst_text p:nth-child(2){
        width: 304px;
        height: 189px;
        margin-left: -50px;
    }
    .intagram .inst_text p:nth-child(1){
        margin-left: -50px;
    }
    .instimage{
        flex-shrink: 0;
        background: url('../Img/adapting-instagramm-image.svg') no-repeat;
    }
    footer{
        position: relative;
        margin-left: -1px;
        top: 2600px;
    }
    footer .links1{
        position: relative;
        top: -1400px;
    }
    footer .links2{
        position: relative;
        top: -1400px;
    }
    .adapting_flex_6_1  img,.adapting_flex_6_2 img,.adapting_flex_6_3 img{
        margin-top: 50px;
        margin-left: 50px;
    }
    .adapting_flex_6_3 .social img{
        margin-left: 10px;
    }
    .adapting_flex_6_3 .fresh img{
        margin-left: 70px;
    }
    .skills .Skillset{
        position: relative;
        padding-top: 230px;
    }
}
@media screen and (min-width:1000px) and (max-width:1200px){
    aside, .experience,.phisolophy,.skill,.projects,.flex9,.Dribbble,.InfoAboutMe,.photoes,.LetsStart{
        width: 200%;
    }
}
@media screen and (min-width:300px) and (max-width:600px){
    aside .Adapting_Robin,.Adapting-mobile-robin,header .flex1,.flex6{
        display: none;
    }
    .InfoAboutMe .WhatPeopleSayAboutMe{
        position: relative;
        right: 90px;
    }
    header{
        width: 230%;
        background: #000000;
    }
    .adapting_menu button{
        width: 24px;
        height: 24px;
        background:url('../Img/Burger_menu.svg') no-repeat;
        background-size: 100%;
        margin-left: 400px;
    }
    .adapting_menu{
        position: relative;
        display: block;
        right: 50px;
        top: 80px;
    }
    .adapting_menu button:hover ~ .adapting_menu_block{
        display: flex;
    }
    .adapting_menu_block:hover{
        display: flex;
    }
    .adapting_menu_block{
        position: relative;
        display: none;
        flex-direction: column;
        gap: 2rem;
        width: 400px;
        height: 500px;
        background-color: #000000;
        border: 5px solid #FF55EE;
        margin-left: 370px;
        margin-top: -40px;
        right: 500px;
    }
    .adapting_menu_block div:nth-child(1), .adapting_menu_block div:nth-child(2), .adapting_menu_block div:nth-child(3), .adapting_menu_block div:nth-child(4){
        width: 132px;
        height: 50px;
        border: 1px solid silver;
        margin-left: 100px;
        background-color: #9198FF;
        margin-top: 30px;
    }
    .adapting_menu_block div:nth-child(1) a,.adapting_menu_block div:nth-child(2) a,.adapting_menu_block div:nth-child(3) a,.adapting_menu_block div:nth-child(4) a{
        text-decoration: none;
        color: #FFFFFF;
    }
    .adapting_menu{
        margin-left: 400px;
        margin-top: -60px;
    }
    aside{
        width: 230%;
        height: 1750px;
        margin-top: -18520px;
    }
    main{
        position: relative;
        top: 900px;
    }
    aside p:nth-child(6){
        width: 320px;
        height: 135px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 50px;
        margin-top: 350px;
    }
    aside p:nth-child(5){
        position: relative;
        right: 650px;
        width: 620px;
        height: 135px;
        margin-top: 80px;
    }
    .experience{
        width: 230%;
        height: 1200px;
    }
    .Dribbble{
        width: 230%;
        height: 1900px;
    }
    .Dribbble img:nth-child(2){
        display: block;
        width: 490px;
        border-radius: 0px 0px 8px 8px;
    }
    .Dribbble .Adapting_Mobile_dribble{
        width: 340px;
        height: 700px;
        margin-left: 1000px;
    }
    .FollowMeOnDribble p:nth-child(2){
        width: 320px;
        height: 108px;
    }
    .FollowMeOnDribble{
        margin-top: 700px;
    }
    .skill{
        width: 230%;
        height: 1800px;
    }
    .InfoAboutMe{
        width: 230%;
        height: 3500px;
    }
    .flex10{
        position: relative;
        top: 500px;
    }
    .photoes{
        width: 230%;
        height: 2400px;
    }
    .flex11{
        display: none;
    }
    .Adapting_Flex11_1,.Adapting_Flex11_2{
        display: flex;
        gap: 2rem;
        margin-left: 190px;
    }
    .photography{
        margin-left: 190px;
    }
    .Adapting_Flex11_1 .ITALY, .Adapting_Flex11_1 .AUSTRALIA, .Adapting_Flex11_2 .INDIA, .Adapting_Flex11_2 .BRAZIL{
        flex-shrink: 0;
        width: 148px;
        height: 51px;
    }
    .flex12{
        position: relative;
        top: 80px;
        display: flex;
        flex-direction: column;
        margin-left: 190px;
    }
    .InfoAboutMe .WhatPeopleSayAboutMe p:nth-child(2){
        width: 320px;
        height: 81px;
    }
    .InfoAboutMe .WhatPeopleSayAboutMe{
        margin-left: 135px;
    }
    .projects{
        width: 230%;
        height: 3900px;
    }
    .flex7 .FirstDesign img:nth-child(1),.FirstDesign,.SecondDesign img:nth-child(1),.SecondDesign,.flex8 .ThirdDesign img:nth-child(1),.ThirdDesign,.FourthDesign img:nth-child(1), .FourthDesign{
        width: 320px;
        height: 400px;
    }
    .flex8{
        margin-top: 100px;
    }
    .flex7{
        margin-left: 160px;
    }
    .FirstDesign,.SecondDesign,.ThirdDesign,.FourthDesign{
        height: 700px;
    }
    .FirstDesign .restaurant1 p:nth-child(2),.SecondDesign .restaurant1 p:nth-child(2),.ThirdDesign .restaurant1 p:nth-child(2),.FourthDesign .restaurant1 p:nth-child(2){
        width: 256px;
        height: 189px;
    }
    .adapting_flex_6_1,.adapting_flex_6_2,.adapting_flex_6_3{
        position: relative;
        display: flex;
        top: 400px;
    }
    .flex4,.flex5{
        position: relative;
        top: 300px;
        right: 800px;
        flex-direction: column;
    }
    .experience .flex2 .google{
        width: 320px;
        height: 285px;
    }
    .experience .flex2 .facebook{
        width: 320px;
        height: 277px;
    }
    .experience .flex2 .dribbble{
        width: 320px;
        height: 265px;
    }
    .experience .flex2{
        flex-direction: column;
        margin-left: 100px;
    }
    .philosophyvalues{
        width: 33%;
        padding-top: 50px;
    }
    .philosophyimage{
        flex-shrink: 0;
        width: 1500px;
        background-size: 46%;
    }
    .intagram,.instimage{
        width: 230%;
        flex-shrink: 0;
    }
    .flex9{
        flex-direction: column;
    }
    .phisolophy{
        width: 230%;
        height: 1400px;
    }
    .flex3{
        flex-direction: column;
        height: 1250px;
    }
    .LetsStart{
        width: 230%;
    }
    .LetsStart .LetsGetStarted p:nth-child(1){
        width: 320px;
        height: 39px;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .LetsStart .LetsGetStarted{
        margin-top: 100px;
        margin-left: 195px;
    }
    .LetsStart form{
        margin-top: -90px;
    }
    .phisolophy{
        height: 1200px;
    }
    .flex8 button{
        display: none;
    }
    .Adapting_Flex11_2{
        margin-top: 20px;
    }
    .LetsStart form input[type='text'],.LetsStart form input[type='email']{
        width: 320px;
        height: 50px;
        flex-shrink: 0;
    }
    .LetsStart form textarea{
        width: 320px;
        height: 100px;
        flex-shrink: 0;
    }
    .LetsStart form input[type='submit']{
        width: 320px;
        height: 75px;
    }
    .LetsStart form{
        margin-right: 180px;
    }
    footer{
        position: relative;
        top: 7000px;
        width: 230%;
        height: 600px;
    }
    .Ithinkeveryone p:nth-child(2){
        width: 320px;
        height: 189px;
    }
    .philosophyvalues .MoreAboutMe{
        margin-top: -90px;
    }
    .NotCopyright{
        width: 320px;
        height: 48px;
        margin-top: 370px;
    }
    .links1,.links2{
        display: none;
    }
    .adapting_flex_links{
        display: flex;
        flex-direction: column;
        margin-top: -400px;
        margin-left: 50px;
        gap: 2rem;
    }
    .adapting_flex_links a{
        text-decoration: none;
        color: #FFFFFF;
    }
    .adapting_flex_6_1  img,.adapting_flex_6_2 img,.adapting_flex_6_3 img{
        margin-top: 50px;
        margin-left: 50px;
    }
    .adapting_flex_6_3 .social img{
        margin-left: 10px;
    }
    .adapting_flex_6_3 .fresh img{
        margin-left: 70px;
    }
    .adapting_flex_6_1 .cbre,.adapting_flex_6_1 .epiq,.adapting_flex_6_2 .social,.adapting_flex_6_2 .fresh,.adapting_flex_6_3 .social,.adapting_flex_6_3 .fresh{
        width: 180px;
        height: 140px;
    }
    .adapting_menu button{
        position: relative;
        right: 100px;
    }
    header{
        display: none;
    }
    .adapting_menu{
        margin-left: 150px;
    }
    .intagram .inst_text p:nth-child(2){
        width: 320px;
        height: 162px;
    }
    .workexperience p:nth-child(2){
        width: 320px;
        height: 117px;
        font-size: 32px;
    }
    .Robin{
        width: 690px;
    }
    .MyProjects{
        margin-left: 100px;
    }
    .instimage{
        background: url('../Img/philosophyimage.svg') no-repeat;
    }
    .MoreAboutMe{
        width: 116px;
        height: 18px;
    }
}
@media screen and (min-width:500px) and (max-width:699px){
    .philosophyvalues{
        width: 59%;
    }
    .philosophyimage{
        width: 217%;
    }
    .LetsStart form{
        margin-right: 610px;
    }
    .instimage{
        background-size: 100%;
    }
    .WithSkills{
        margin-top: 90px;
    }
    .Skillset{
        position: relative;
        top: 50px;
    }
    .FollowMeOnDribble{
        position: relative;
        top: 120px;
    }
}
@keyframes changeColors{
    5%{
        color: #FD4FE9;
    }
    15%{
        color: #FD2884;
    }
    20%{
        color: #20B2AA;
    }
    25%{
        color: #B29503;
    }
    30%{
        color: #50C878;
    }
    50%{
        color: #500078;
    }
    60%{
        color: #00FF1A;
    }
    100%{
        color: #FFFFFF;
    }
}